@page
@model RegisterModel
@{
}

<h3>User Registration</h3>
<br />
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterView.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterView.Email" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterView.Email"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterView.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="RegisterView.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterView.Password"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterView.Department"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterView.Department" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterView.Department"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="RegisterView.Position"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="RegisterView.Position" class="form-control" />
                <span class="text-danger" asp-validation-for="RegisterView.Position"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
            <div class="col-5">
            </div>


        </div>
    </form>
</div>